@model ResendReturnedCard.Models.SelectionFillOutView

@using (Ajax.BeginForm("Step1", "ResendReturnedCard", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "onSuccess",
    OnFailure = "onFailure"
}))
{
<div class="wrapper-container">
    <div class="wrapper">
        <div class="wrapper-mask"></div>
        <div class="outer_container">
            <div class="container no-breadcrumbs">
                <div class="content transparent step-panel-block">
                    <div class="step">
                        <ul class="list-step list-step--gray">
                            <li class="list-step__item list-step__item--current"><span class="list-step__item-num"></span><span class="list-step__item-title">填寫資料</span></li>
                            <li class="list-step__item"><span class="list-step__item-num"></span><span class="list-step__item-title">確認資料</span></li>
                            <li class="list-step__item"><span class="list-step__item-num"></span><span class="list-step__item-title">申請結果</span></li>
                        </ul>
                    </div>
                </div>
                <div class="content full-content">
                    <section class="trans-content">
                        <fieldset class="fieldset-block pink-legend">
                            <legend>卡片資料</legend>
                        </fieldset>

                        <table class="new-datatable">
                            <tbody>
                                <tr>
                                    <th>
                                        <p><span class="red">*</span>申請卡片</p>
                                    </th>
                                    <td>
                                        <ul>
                                            @if (Model.QueryResult?.Result?.Items != null && Model.QueryResult.Result.Items.Any())
                                            {

                                                int countCard = 1;

                                                foreach (var item in Model.QueryResult.Result.Items)
                                                {
                                                    <li>
                                                        <input class="artfld tickr" id="checkb_card_@(countCard)" name="card" type="checkbox" value="@item.CardNo" />

                                                        <label for="checkb_card_@(countCard)">
                                                            <span><span class="getCheck"></span></span>
                                                            <p class="dis-inline">@item.CardName<br />@item.MaskedCarNo</p>
                                                        </label>
                                                    </li>
                                                    countCard++;
                                                }
                                            }
                                            else
                                            {
                                                <p>無卡片資料</p>
                                            }
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="line">
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <th>
                                        <p><span class="red">*</span>卡片寄送地址</p>
                                    </th>
                                    <td>
                                        <ul>
                                            @if (Model.QueryResult.Result.Items != null && Model.QueryResult.Result.Items.Any())
                                            {
                                                var firstItem = Model.QueryResult.Result.Items.FirstOrDefault();
                                                if (firstItem != null)
                                                {
                                                    <li>
                                                        <input class="artfld tickr" id="radio_addres_1" name="addres" type="radio" value="@firstItem.HomeAddr" />
                                                        <label for="radio_addres_1"><span><span class="getCheck"></span></span>同現居地址</label>
                                                        <div class="req mthalf mbhalf" data-address-type="1" style="display: none" id="data-address1">
                                                            <input class="artfld col-all-min col-7" type="text" placeholder="" value="@firstItem.HomeAddr" disabled />
                                                        </div>
                                                    </li>


                                                    <li>
                                                        <input class="artfld tickr" id="radio_addres_2" name="addres" type="radio" value="@firstItem.RegisterAddr" />
                                                        <label for="radio_addres_2"><span><span class="getCheck"></span></span>同戶籍地址</label>
                                                        <div class="req mthalf mbhalf" data-address-type="2" style="display: none" id="data-address2">
                                                            <input class="artfld col-all-min col-7" type="text" placeholder="" value="@firstItem.RegisterAddr" disabled />
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <input class="artfld tickr" id="radio_addres_3" name="addres" type="radio" value="@firstItem.CompanyAddr" />
                                                        <label for="radio_addres_3"><span><span class="getCheck"></span></span>同公司地址</label>
                                                        <div class="req mthalf mbhalf" data-address-type="3" style="display: none" id="data-address3">
                                                            <input class="artfld col-all-min col-7" type="text" placeholder="" value="@firstItem.CompanyAddr" disabled />
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="content full-content">
                    <section class="trans-content">
                        <table class="new-datatable">
                            <tbody>
                                <tr>
                                    <td class="reminds red">
                                        <div class="prfy">
                                            <p class="mbhalf">溫馨提醒：</p>
                                            <ol class="disc">
                                                <li>本功能僅限申請一次，敬請先確認您欲指定的完整地址後再提出申請</li>
                                                <li>申請重寄後，卡片於近日重新寄至您指定的地址(此設定僅針對本次卡片寄送使用)</li>
                                                <li>若連同原留存在本行的地址欲變更，請與客服聯絡(02)2528-7776</li>
                                            </ol>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="btn-zone flex-inline-min">
                    <button class="nbtn focus" id="checkRequirment" type="submit">下一步</button>
                </div>
                <p class="red">燈箱在這!!!!!!!!!!!!!</p>
                <!-- 燈箱--><a class="open-lbox" href="#" data-lboxid="#error-1">系統異常</a><a class="open-lbox" href="#" data-lboxid="#error-2">提醒您</a>
            </div>
        </div>
        <div class="lboxed">
            <div class="lbox-block">
                <div class="error-msg" id="error-1">
                    <div class="close"></div>
                    <h3>系統異常</h3>
                    <div>
                        <p>請與客服聯絡(02)2528-7776</p>
                        <div class="btn-zone"><a class="nbtn focus close" href="#">確定</a></div>
                    </div>
                </div>

                <div class="error-msg" id="error-2">
                    <div class="close"></div>
                    <h3>提醒您</h3>
                    <div>
                        <p>親愛的客戶您好，經查系統無卡片退回記錄，若您近日已完成重寄申請，卡片將於近日內寄出，欲修改寄卡地址，請洽客服(02)2528-7776，謝謝。</p>
                        <div class="btn-zone"><a class="nbtn close" href="#">申請進度查詢</a><a class="nbtn focus close" href="#">前往線上辦卡</a></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $('input[name="addres"]').change(function () {
                    var value = $(this).attr('id');
                    $('.req').hide();
                    $('#data-address' + value.slice(-1)).show();
                });
            });
           function validateForm() {
                    var cardSelected = $('input[name="card"]:checked').length > 0;
                    var addressSelected = $('input[name="addres"]:checked').length > 0;

                    if (!cardSelected && !addressSelected) {
                        showErrorMsg("請選擇一張卡片");
                    } else if (!cardSelected) {
                        showErrorMsg("請選擇一張卡片");
                    } else if (!addressSelected) {
                        showErrorMsg("請選擇地址");
                    } else {
                        // 如果驗證通過，導航到 Step2
                        window.location.href = '@Url.Action("Step2", "ResendReturnedCard")';
                    }
                }

                function showErrorMsg(message) {
                    $('#error-message').text(message);
                    $('#error-2').show();
                }

                function closeErrorMsg() {
                    $('.error-msg').hide();
                }

                function onFailure() {
                    $('#error-1').show();
                }
        </script>
    </div>
</div>
}
